# **Grid_search**

importing required libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

setting display max columns and max rows paramter using pandas set_option

In [2]:
pd.set_option('display.max_rows',100)
pd.set_option('display.max_columns',100)

importing dataset

In [3]:
dataset=pd.read_csv('Social_Network_Ads.csv')
dataset.head(5)

    User ID  Gender   Age  EstimatedSalary  Purchased
0  15624510    Male  19.0          19000.0          0
1  15810944    Male  35.0          20000.0          0
2  15668575  Female  26.0          43000.0          0
3  15603246  Female  27.0          57000.0          0
4  15804002    Male  19.0          76000.0          0

Encoding Categorical variable

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset.head(5)

    User ID   Age  EstimatedSalary  Purchased  Gender_Male
0  15624510  19.0          19000.0          0            1
1  15810944  35.0          20000.0          0            1
2  15668575  26.0          43000.0          0            0
3  15603246  27.0          57000.0          0            0
4  15804002  19.0          76000.0          0            1

Due to presence of gender categorical variable it is encoded into gender_female and gender_male and one of the two is dropped to prevent dummy variable trap

Extracting independent and dependent variables

In [5]:
x=dataset.drop(columns=['User ID','Purchased'])
y=dataset['Purchased']
x=x.iloc[:,:].values
y=y.iloc[:].values

User id is not a feature(it has no impact on output) so it is eliminated
Purchased is target variable

Splitting dataset into train and test

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0,stratify=y)

stratify parametr is defined to enable equal number of differnet clases in train and test,settin sedd using random_state parameter

Feature Scaling

In [7]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

Training kernal svm on Training set

In [8]:
from sklearn.svm import SVC
svc=SVC(kernel='rbf',random_state=0)
svc.fit(x_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=0, shrinking=True, tol=0.001,
    verbose=False)

Predicting test results and making confusoin matrix

In [9]:
from sklearn.metrics import confusion_matrix,accuracy_score
y_pred=svc.predict(x_test)
cm=confusion_matrix(y_test,y_pred)
print(cm)

[[46  5]
 [ 3 26]]

Accuracy score

In [10]:
accuracy_score(y_test,y_pred)

0.9

Applying Grid Search to find best model and best parameters

In [11]:
from sklearn.model_selection import GridSearchCV
parameters = [{'C': [0.25, 0.5, 0.75, 1], 'kernel': ['linear']},{'C': [0.25, 0.5, 0.75, 1], 'kernel': ['rbf'], 'gamma': [0.1, 0.2, 0.3, 0.4, 0.5,1.5,3,10]}]
grid_search = GridSearchCV(estimator = svc,param_grid = parameters,scoring = 'accuracy',cv = 10,n_jobs = -1)
grid_search.fit(x_train, y_train)
best_accuracy = grid_search.best_score_
best_parameters = grid_search.best_params_
print("Best Accuracy: {:.2f} %".format(best_accuracy*100))
print("Best Parameters:", best_parameters)

Best Accuracy: 90.94 %
Best Parameters: {'C': 0.25, 'gamma': 1.5, 'kernel': 'rbf'}

C is the regularization parameter,gamma parameter defines the curvature of the kernel,cv is no of cross validation sets,n_jobs parameter is used to selct no of cores use dfot trainin -1 indicate to use all cores